{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form action="" method="post" class="form-cnx">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="container">
        <div class="box box-connexion cards-layout">

            <div class="row">
                <div class="col-lg-12">
                    <a href="/inscription"  class="btn btn-ins">Inscription</a>
                </div>
            </div>

            <div class="row">

                <div class="card-cnx">

                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="_password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class=" btn-cnx" type="submit">
        Connexion
    </button>

                </div><!-- Fin card-cnx -->


        </div><!-- Fin row -->
    </div><!-- Fin box -->


</div><!-- Fin container -->
</form>
{% endblock %}
