@import "~bootstrap/scss/bootstrap"

/*******************************************/
/************** GENERAL *******************/
/*****************************************/

/*** Colors ***/
$white:       #ffffff
$black:       #000000

$green:       #4095A0
$blue:        #52a79f

$light-grey:  #f7f7f7
$grey:        #717171

$bg-footer:   #dedede
$bg-body:     #F4F8F2


/*** Fonts ***/
@mixin fp
  font-family: 'Poppins', sans-serif

@mixin fr
  font-family: 'Roboto', sans-serif

@mixin far
  font-family: 'Font Awesome 5 Solid',serif

/*** Mixins ***/
@mixin reset
  background: transparent
  border: none

@mixin btn-brand
  @include fp
  color: $green
  font-weight: 900

@mixin br
  border-radius: 24px

@mixin card-chb
  background: $white
  border-radius: 8px
  margin-bottom: 15%
  -webkit-box-shadow: -9px 13px 5px 0px rgba(0,0,0,0.09)
  -moz-box-shadow: -9px 13px 5px 0px rgba(0,0,0,0.09)
  box-shadow: -9px 13px 5px 0px rgba(0,0,0,0.09)
  .cont-img
  border-radius: 8px 8px 0 0
  width: 100%
  height: auto
  overflow: hidden
  img
    height: auto
    width: 100%


/*** Ajustments ***/
*
  box-sizing: border-box

body
  background: $bg-body

ul
  margin: 0

li
  list-style: none
  display: inline-block

.box
  padding: 50px

/*******************************************/
/************** FIN GENERAL ***************/
/*****************************************/

.main-bar, .menu 
  display: flex
  flex-direction: row
  justify-content: space-between
  background: $white
  padding: 5px 5%
  .btn-cnx
    color: $green
    padding: 10px
    transition: all .5s
    &:hover, &:active, &:focus
      background: $green
      color: $white

.main-bar
  z-index: 1
  width: 100%
  .main-menu 
    margin: auto
    li 
      a 
        padding-bottom: 5px
        border-bottom: 3px solid $white


  
    li + li, li + li +li 
      margin-left: 30px
  

.card-chb
  background: $white
  border-radius: 8px
  margin-bottom: 15%
  -webkit-box-shadow: -9px 13px 5px 0px rgba(0,0,0,0.09)
  -moz-box-shadow: -9px 13px 5px 0px rgba(0,0,0,0.09)
  box-shadow: -9px 13px 5px 0px rgba(0,0,0,0.09)
  .cont-img 
    border-radius: 8px 8px 0 0
    width: 100%
    height: auto
    overflow: hidden
    //margin-bottom: 8%
    img 
      height: auto
      width: 100%
  

  .btn-fav 
    float: right
    color: $green
    svg 
      font-size: 20px

  .tag-prix 
    font-size: 18px

  .bloc-description 
    margin: 2% 0
    display: block
    color: $grey
    font-weight: 300

  .btn-detail 
    @include btn-brand
    width: 100%
    text-align: right

  .card-content 
    padding: 25px 25px 15px 25px


.cont-diaporama 
  height: 70vh
  overflow: hidden
  background-image: url('/../../images/accueil-bg.jpg')
  background-repeat: no-repeat
  background-size: 100%
  background-attachment: fixed
  filter: brightness(80%)

  .box-presentation 
    position: absolute
    width: 20%
    top: 35%
    left: 6%
    color: $white
    h2 
      font-size: 2.5em

footer

  width: 100%
  bottom: 0

  .menu-footer
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 5px 50px
    background: $bg-footer
    

.box-connexion 
  form 
    margin: auto
    @include br
    @include card-chb
    padding: 25px 50px 50px 50px
    background: $white
    width: 30%
    .brand-cnx 
      width: 100%
      text-align: center
      display: block
      padding: 0
      margin: 6% 0

.card-cnx
  @include br
  width: 80%
  background: white
  padding: 50px
  margin: auto
  input
    width: 100%
    display: block
    margin-bottom: 25px
    height: 40px
  button
    @include reset
    color: $green
    padding: 10px
    border: 1.5px solid $green
    transition: all .5s
    width: 100%


.btn-ins
  color: $blue
  border-color: $blue
  margin: auto
  margin-bottom: 4%
  width: 30%
  display: block

.box-inscription
  .btn-ins 
    width: 100%

  .ins-select 
    width: 100%
    margin-bottom: 8%
    height: 38px
    padding: 5px

.box-detail-annonces
  overflow: hidden
  h1
    text-transform: capitalize
  img
    height: auto
    width: 100%

  .detail-content > .row
    padding: 25px

.cont-resrv
  padding: 25px
  background: $white
  .col-lg-4
    [id^="form_reservation_date"]
      display: inline-block
      margin: auto
    #form_reservation_date_deb_time, #form_reservation_date_fin_time
      margin-left: 1%
      margin-top: 5%
  button
    border: 1px solid $green
    padding: 15px
    color: $green
    margin-top: 2%
    width: 100%
  input
    width: 100%

.box-locations
  h4, .tag-prix
    display: block
    background: $green
    color: $white
    padding: 20px
    text-align: center
    text-transform: capitalize
  .tag-prix
    background: $blue

  .card-content
    span
      display: block
      padding: 10px




/********************************************/
/*************** BACK OFFICE ***************/
/******************************************/

.bar-header
  display: block
  background: $black
  padding: 5px
  ul
    width: 100%
    li
      list-style: none
      padding: 0 10px
      &:first-child
        border-right: 1px solid $white
      &:last-child
        float: right
        margin-right: 1%

      a
        color: $white








