{# on boucle les biens #}
<div class="col-lg-4 col-md-4 col-4">
    <div class="card-chb">
        <a href="#" class="link-ann">
            <div class="cont-img">
              <img src="\uploads\{{ image }}.jpg" alt="">
            </div>
            <div class="cont-content card-content">
                {#                        <h4><?= bien.titre ?></h4>#}
                <span class="tag-prix">{{ var.prix }} €</span>
                <button type="submit" class="btn-fav"><i class="far fa-heart"></i></button>
                <span class="bloc bloc-description">
                        {{ var.DescCourte  }}
                </span>
                <a href="{{ path( 'detail', {id: var.id} ) }}" class="btn btn-detail" name="reservation" value="{{ var.id }}">Voir</a>
            </div>
        </a>
    </div>
</div>


