

<nav class="navbar main-bar">
    <a class="brand" href="/">l’Espadrille Volante</a>
    <ul class="menu main-menu">
        <li><a href="/emplacements">Emplacement</a></li>
        <li><a href="/caravanes">Caravane</a></li>
        <li><a href="/mobile-homes">Mobile-home</a></li>
    </ul>

    <ul class="menu-cnx">
        {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
        <li>
            <a href="/login">
                Connexion
            </a>
        </li>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li>
            <a href="/login" class="btn-cnx">
                    {{ app.user.prenom }}
            </a>
        </li>
        <li>
            <a href="{{ path('BackHomePage') }}" class="btn-cnx">
                {{ app.user.role }}
            </a>
        </li>
        <li>
            <a href="/logout" class="btn-cnx">
               Deconnexion
            </a>
        </li>
        {% endif %}

    </ul>



</nav>
