{% extends 'base.html.twig'%}

{% block title %}
Camping | Store
{% endblock %}

{% block body %}
    <div class="cont-diaporama">
        <div class="container box-presentation">
            <h2>Le dépaysement à deux pas de chez vous</h2>
            <span>
            Trouvez votre nouveau chez vous. Découvrez des logements à proximité pour vous installer, travailler, ou tout simplement vous détendre.
        </span>
        </div>
    </div>


    <div class="container cont-nogrow">
        <div class="box box-latest-products">
            <div class="row">

                    {% for bien in biens %}

                        {{ include("front/_card.html.twig" , {var: bien} ) }}

                    {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}