{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="box box-connexion cards-layout">

            <div class="row">
                <div class="col-lg-12">
                    <a href="/inscription"  class="btn btn-ins">Inscription</a>
                </div>
            </div>

            <div class="row">

                <form action="" method="POST">
                    <span class="brand brand-cnx">L’Espadrille Volante</span>
                    <input type="text" name="login" placeholder="Nom">
                    <input type="password" name="password" placeholder="Mot de passe">
                    <button type="submit" name="btn-cnx">Connexion</button>
                </form>

            </div>




        </div>
    </div>






{% endblock %}

