{% extends 'base.html.twig' %}



{% block body %}
    <div class="container">
        <div class="box box-detail-annonces cards-layout">
            {% for bien in biens %}
                <div class="detail-header">
                    <h1>{{ bien.titre }}</h1>
                </div>
                <div class="cont-img detail-img">
                 <img src="\uploads\caravane.jpg" alt="">{# A CHANGER !!!!!!!!!!!!!!!!!!!!!!!!!! #}
                </div>
                <div class="detail-content">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-2">
                            <div class="detail-description">
                                <span class="tag-prix">Prix : {{ bien.prix }}€ / jour</span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-2">
                            <div class="detail-description">
                                {% if bien.type != "Emplacement" %}
                                    <span class="tag-prix">Places : {{ bien.places }}</span>
                                {% else %}
                                    <span class="tag-prix">Taille : {{ bien.places }} m²</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="detail-description">
                                {{ bien.DescLongue }}
                            </div>
                        </div>
                    </div>


                <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="cont-resrv">
                                {{ form_start(form) }}
                                    <div class="row">
                                        <div class="col-lg-2 cold-md-2 col-2">
                                            {{ form_row(form.nb_adultes) }}
                                        </div>
                                        <div class="col-lg-2 cold-md-2 col-2">
                                            {{ form_row(form.nb_enfants) }}
                                        </div>
                                        <div class="col-lg-4 cold-md-4 col-4">
                                            {{ form_row(form.date_deb) }}
                                        </div>
                                        <div class="col-lg-4 cold-md-4 col-4">
                                            {{ form_row(form.date_fin) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 cold-md-12 col-12">
                                            <button type="submit" name="reservation" class="btn btn-brand" value="{{ bien.id }}">Reserver</button>
                                        </div>
                                    </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>

{% endblock %}

{% block title %}

{% endblock %}



