{% extends 'base.html.twig' %}

{% block body %}
    <div class="container cont-nogrow">
        <div class="box box-latest-products">
            <div class="row">

                {% for mobile_home in type %}

                    {{ include("front/_card.html.twig" , {var: mobile_home} ) }}

                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}


