<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('build/app') }}.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,700&display=swap" rel="stylesheet">
        <title>{% block title %}L'Espadrille{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% block header %}
        <div class="container-fluid main-bar">
            {% include('front/_menu.html.twig') %}
        </div>
    {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <footer>
            <ul class="menu menu-footer">
                <li>l’Espadrille Volante</li>
                <li>Copyright 2020</li>
            </ul>
        </footer>
    </body>
    <script type="application/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</html>
