<div class="bar-header">
    <nav>
        <ul>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li>
                    <a href="/login" class="btn-cnx">
                        {{ app.user.prenom }}
                    </a>
                </li>
                <li>
                    <a href="/login" class="btn-cnx">
                        {{ app.user.role }}
                    </a>
                </li>
                <li>
                    <a href="/logout" class="btn-cnx">
                        Deconnexion
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>