<div class="menu menu-backoff">
    <nav class="navbar main-bar">
        <a class="brand" href="/">l’Espadrille Volante</a>

        {% set role = app.user.role %}

        {% if role == "Personnel" %}
            <ul class="menu main-menu">
                <li><a href="{{ path('locations') }}">Locations</a></li>
                <li><a href="{{ path('Facturations') }}">Facturation</a></li>
                <li><a href="{{ path('Exploitation') }}">Exploitation</a></li>
            </ul>
        {% elseif role == "Proprietaire" %}
            <ul class="menu main-menu">
                <li><a href="{{ bk }}/Réservations">Réservations</a></li>
                <li><a href="{{ bk }}/Rétributions">Rétributions</a></li>
            </ul>
        {% endif %}


{#        {% switch app.user.role %}#}

{#            {% case "Personnel" %}#}
{#                <ul class="menu main-menu">#}
{#                    <li><a href="">Locations</a></li>#}
{#                    <li><a href="">Facturation</a></li>#}
{#                    <li><a href="">Exploitation</a></li>#}
{#                </ul>#}

{#            {% case "Proprietaire" %}#}
{#                <ul class="menu main-menu">#}
{#                    <li><a href="">Réservations</a></li>#}
{#                    <li><a href="">Rétributions</a></li>#}
{#                </ul>#}

{#            {% default %}#}
{#                <p>value is something else</p>#}

{#        {% endswitch %}#}
    </nav>
</div>