{% extends 'base.html.twig' %}
 {% block header %}
{% include 'back/_menuBackend.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container cont-nogrow">
        <div class="box box-locations">

            <div class="row">
                {% for location in locations %}

                    <div class="col-lg-4 col-md-4 col-4">
                        <div class="card-chb">
                                <div class="cont-content card-content">
                                    <h4>{{ location.bien.titre }}</h4>
                                    <span class="tag-prenom">Prenom: {{ location.bien.utilisateur.prenom }}</span>
                                    <span class="tag-nom">Nom: {{ location.bien.utilisateur.nom }}</span>
                                    <span class="tag-adultes">Adultes: {{ location.nbAdultes }}</span>
                                    <span class="tag-enfants">Enfants: {{ location.nbEnfants }}</span>
{#                                    <span class="tag-prenom">Jours: {{ location.nbEnfants }}</span>#}
                                </div>
                                <div class="tarif">
                                    <span class="tag-prix">Prix: {{ location.nbEnfants }}</span>
                                </div>
                        </div>

                    </div>





                {% endfor %}

        </div>
        </div>
    </div>

{% endblock %}
